<!DOCTYPE html>
<html lang="ja">
<head>
<%
page = {
  type: 'top'
};
%>
<title><%= global.sitename %></title>
<%- include _common/include %>
<%- include _common/meta %>
<%- include _common/css %>
</head>
<body>

<!-- wrap -->
<div id="wrap">

<%- include _common/header %>

<!-- contents -->
<article class="contents" id="top">
<div class="inner">

</div>
</article>
<!-- //contents -->

<%- include _common/footer %>

</div>
<!-- //wrap -->

<%- include _common/js %>
</body>
</html>
