<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= global.sitename %></title>
<%= include ('_common/meta') %>
<%= include ('_common/js') %>
</head>
<body>

<!-- wrap -->
<div id="wrap">

<%= include ('_common/header') %>

<!-- contents -->
<article class="contents" id="top">
<div class="inner">

</div>
</article>
<!-- //contents -->

<%= include ('_common/footer') %>

</div>
<!-- //wrap -->

</body>
</html>
